@page
@model Lab_153503_Verhasau.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="container row" style="margin: 1rem">
    @{
        await Html.RenderPartialAsync("_SouvenirCardsAndPagerPartial", new
        {
            CurrentPage = Model.CurrentPage,
            TotalPages = Model.TotalPages,
            Souvenirs = Model.Souvenir,
            InAdminArea = true,
        });
    }
</div>
